In [1]:
from matplotlib import style
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract
import datetime

In [2]:
#to create connection 
engine = create_engine("sqlite:///hawaii.sqlite")

In [3]:
#Helps in mapping 
Base = automap_base()

In [4]:
Base.prepare(engine, reflect=True)

In [5]:
Base.classes.keys()

['measurement', 'station']

In [6]:
Measurement = Base.classes.measurement
Station = Base.classes.station

In [7]:
session =Session(engine)

In [8]:
session.query()

In [9]:
#count to count number of station and adding .all() to get result as list.
session.query(func.count(Station.station)).all()

[(9)]

In [10]:
session.query()
session.query(Measurement.station, func.count(Measurement.station)).group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [11]:
#staring the session
session.query()
#Extracting the data for month of dec 
Temp_results=session.query(Measurement.date,Measurement.station,Measurement.tobs).\
filter(extract('month',Measurement.date)==12).all()
#Extracting Temperature for month of Dec and getting year only to do group by 
temp_results_year=session.query((extract('year',Measurement.date)),Measurement.station,Measurement.tobs).\
filter(extract('month',Measurement.date)==12).all()

In [12]:
#creating dataframe to save our query 
df = pd.DataFrame(temp_results_year, columns=['date','station','Temperature'])
df

      date      station  Temperature
0     2010  USC00519397         76.0
1     2010  USC00519397         74.0
2     2010  USC00519397         74.0
3     2010  USC00519397         64.0
4     2010  USC00519397         64.0
...    ...          ...          ...
1512  2016  USC00516128         71.0
1513  2016  USC00516128         71.0
1514  2016  USC00516128         69.0
1515  2016  USC00516128         65.0
1516  2016  USC00516128         65.0

[1517 rows x 3 columns]

In [13]:
group_data=df.groupby(['station','date']).describe()
group_data

                 Temperature                                                 \
                       count       mean       std   min    25%   50%    75%
station     date
USC00511918 2010        31.0  70.000000  4.008325  63.0  66.50  70.0  73.50
            2011        31.0  70.483871  3.472472  65.0  68.50  71.0  73.00
            2012        30.0  70.566667  4.391868  61.0  68.00  72.0  73.00
            2013        30.0  69.333333  4.412626  63.0  67.00  69.0  71.75
            2014        30.0  68.000000  5.717487  57.0  64.00  68.5  71.75
USC00513117 2010        31.0  70.967742  3.219564  64.0  69.00  71.0  73.00
            2011        31.0  71.096774  1.640220  67.0  71.00  71.0  72.00
            2012        31.0  70.064516  2.780114  65.0  68.00  71.0  72.00
            2013        31.0  71.483871  2.501612  67.0  69.00  72.0  73.00
            2014        31.0  70.354839  3.507595  64.0  67.50  70.0  72.00
            2015        30.0  73.066667  2.970352  67.0  70.50  73.5  75.00
            2016        31.0  70.516129  2.336250  63.0  69.00  71.0  72.00
USC00514830 2010        30.0  69.233333  3.125902  62.0  68.00  70.0  71.00
            2011        26.0  70.653846  1.598557  66.0  70.00  70.5  72.00
            2012        20.0  74.300000  2.386365  68.0  73.00  74.5  76.00
            2013        27.0  74.333333  1.921538  71.0  73.00  74.0  75.00
            2014        23.0  74.173913  2.516350  70.0  72.00  74.0  76.00
            2015        24.0  76.791667  1.768791  72.0  76.00  77.0  78.00
            2016        28.0  74.214286  2.114450  69.0  72.75  74.5  76.00
USC00516128 2010        31.0  69.483871  4.073254  61.0  67.50  69.0  71.00
            2011        30.0  69.166667  1.763291  65.0  68.00  69.0  70.00
            2012        31.0  68.806452  3.515863  62.0  66.50  69.0  71.00
            2013        29.0  70.068966  3.442705  64.0  68.00  70.0  71.00
            2014        27.0  68.222222  2.665064  62.0  66.50  68.0  70.00
            2015        28.0  70.642857  1.615074  67.0  69.75  71.0  71.25
            2016        30.0  68.666667  3.055050  60.0  67.00  69.0  71.00
USC00517948 2010        12.0  69.500000  3.424511  66.0  66.75  68.5  71.25
            2011        12.0  70.916667  2.020726  69.0  69.00  71.0  72.00
            2012        12.0  73.166667  2.790677  68.0  72.50  73.5  74.25
            2013        20.0  70.950000  2.282081  67.0  70.00  71.0  72.25
            2014        20.0  74.550000  3.347819  64.0  74.00  75.0  77.00
            2015        13.0  73.384615  4.925080  65.0  71.00  74.0  76.00
            2016        20.0  70.150000  2.390221  66.0  68.00  70.0  71.00
USC00518838 2010        13.0  72.230769  3.789324  63.0  71.00  73.0  74.00
            2012         2.0  73.500000  0.707107  73.0  73.25  73.5  73.75
            2013         4.0  72.500000  0.577350  72.0  72.00  72.5  73.00
USC00519281 2010        31.0  69.000000  4.366539  58.0  66.50  70.0  71.50
            2011        31.0  70.129032  2.186960  65.0  69.00  70.0  71.00
            2012        31.0  70.129032  3.461617  62.0  68.50  71.0  72.00
            2013        31.0  69.548387  3.500845  63.0  67.00  70.0  72.50
            2014        31.0  66.709677  3.698590  59.0  63.50  68.0  69.50
            2015        31.0  73.387097  2.577821  67.0  72.50  74.0  75.00
            2016        31.0  70.419355  3.364265  62.0  68.50  70.0  73.50
USC00519397 2010        25.0  70.640000  3.784618  64.0  68.00  71.0  74.00
            2011        31.0  71.870968  2.390843  63.0  71.00  73.0  73.00
            2012        30.0  71.100000  3.575298  64.0  69.00  72.5  73.75
            2013        31.0  70.935484  3.043413  65.0  69.00  71.0  73.50
            2014        31.0  69.387097  4.758693  56.0  66.50  71.0  73.00
            2015        31.0  73.193548  2.676059  66.0  71.50  74.0  75.00
            2016        31.0  70.548387  3.274535  62.0  69.00  71.0  73.00
USC00519523 2010        31.0  71.612903  4.325717  61.0  69.00  71.0  74.50
            2011        31.0  72.225806  1.927169  65.0  72.00  73.0  73.00
            2012        31.0  73.516129  3.020717  65.0  72.00  74.0  76.00
            2013        31.0  72.161290  3.317597  64.0  70.00  73.0  74.00
            2014        30.0  70.266667  4.770118  56.0  68.00  71.5  74.00
            2015        27.0  74.037037  2.518875  69.0  72.50  75.0  75.50
            2016        29.0  73.413793  3.510365  63.0  71.00  74.0  76.00


                   max
station     date
USC00511918 2010  77.0
            2011  77.0
            2012  80.0
            2013  79.0
            2014  81.0
USC00513117 2010  78.0
            2011  74.0
            2012  76.0
            2013  76.0
            2014  78.0
            2015  80.0
            2016  74.0
USC00514830 2010  75.0
            2011  74.0
            2012  79.0
            2013  78.0
            2014  78.0
            2015  79.0
            2016  78.0
USC00516128 2010  80.0
            2011  73.0
            2012  77.0
            2013  83.0
            2014  73.0
            2015  74.0
            2016  76.0
USC00517948 2010  76.0
            2011  76.0
            2012  78.0
            2013  75.0
            2014  78.0
            2015  82.0
            2016  76.0
USC00518838 2010  78.0
            2012  74.0
            2013  73.0
USC00519281 2010  77.0
            2011  75.0
            2012  76.0
            2013  78.0
            2014  72.0
            2015  79.0
            2016  76.0
USC00519397 2010  77.0
            2011  77.0
            2012  76.0
            2013  77.0
            2014  75.0
            2015  77.0
            2016  77.0
USC00519523 2010  78.0
            2011  75.0
            2012  78.0
            2013  79.0
            2014  76.0
            2015  79.0
            2016  78.0

In [14]:
session.query()
# Extracting the data for june
Temp_results=session.query(Measurement.date,Measurement.station,Measurement.tobs).\
filter(extract('month',Measurement.date)==6).all()
#Extracting year to group by 
temp_results_year=session.query((extract('year',Measurement.date)),Measurement.station,Measurement.tobs).\
filter(extract('month',Measurement.date)==6).all()

In [15]:
#Changing the results to dataframe 
df = pd.DataFrame(temp_results_year, columns=['date','station','Temperature'])
df

      date      station  Temperature
0     2010  USC00519397         78.0
1     2010  USC00519397         76.0
2     2010  USC00519397         78.0
3     2010  USC00519397         76.0
4     2010  USC00519397         77.0
...    ...          ...          ...
1695  2017  USC00516128         79.0
1696  2017  USC00516128         74.0
1697  2017  USC00516128         74.0
1698  2017  USC00516128         76.0
1699  2017  USC00516128         75.0

[1700 rows x 3 columns]

In [16]:
group_data=df.groupby(['station','date']).describe()
group_data

                 Temperature                                                 \
                       count       mean       std   min    25%   50%    75%
station     date
USC00511918 2010        29.0  75.620690  3.569852  69.0  74.00  76.0  78.00
            2011        30.0  73.433333  3.450970  68.0  71.00  73.5  75.75
            2012        29.0  75.344828  2.991367  71.0  73.00  76.0  77.00
            2013        30.0  74.933333  4.209458  66.0  73.00  74.0  78.75
            2014        28.0  73.964286  5.102520  67.0  69.75  72.5  79.00
...                      ...        ...       ...   ...    ...   ...    ...
USC00519523 2013        29.0  76.241379  2.444457  72.0  75.00  76.0  78.00
            2014        27.0  76.740741  1.654658  74.0  76.00  76.0  78.00
            2015        29.0  77.379310  1.916354  72.0  77.00  77.0  79.00
            2016        29.0  77.620690  2.210588  72.0  77.00  78.0  79.00
            2017        29.0  78.896552  1.759562  75.0  78.00  79.0  80.00


                   max
station     date
USC00511918 2010  85.0
            2011  80.0
            2012  81.0
            2013  81.0
            2014  84.0
...                ...
USC00519523 2013  81.0
            2014  80.0
            2015  81.0
            2016  81.0
            2017  82.0

[65 rows x 8 columns]